@import './markdown.css';

// --- custom ---
.theme--dark.v-application pre code {
  background-color: #0000;
}

.hide { display: none; }

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;

  img {
    background: none;
    max-width: 100%;
  }

  @media (max-width: 767px) {
    padding: 5px;
  }

  pre[class*='language-'],
  code[class*='language-'] {
    text-shadow: none;
    // code[class*='language-'] {
    //   background-color: #111c27;
    // }
    .token.operator {
      background-color: #2d2d2d00;
    }
    .token.entity {
      background-color: #2d2d2d00;
    }
    .line-numbers-rows {
      background-color: #111c27;
    }
  }

  table {
    display: block;
    width: 100%;
    overflow: auto;
    color: rgb(204, 204, 204);
    th {
      font-weight: 600;
    }
    td,
    th {
      padding: 6px 13px;
      border: 1px solid #3b434b;
    }
    tr {
      // border-top: 1px solid #0f1218;
      // background-color: #0f1218;
      border-top: 1px solid #12151d;
      background-color: #12151d;
    }
    tr:nth-child(2n) {
      // background-color: #`111c27;
      background-color: #161c21;
    }
  }

  .code-toolbar {
    position: relative;
    .toolbar {
      position: absolute;
      top: .3em;
      right: .2em;
      transition: opacity 0.3s ease-in-out;
      opacity: 1;

      button {
        background: none;
        border: 0;
        color: inherit;
        font: inherit;
        line-height: normal;
        overflow: visible;
        padding: 0;
        -webkit-user-select: none; /* for button */
        -moz-user-select: none;
        -ms-user-select: none;
      }

      a,
      button {
        cursor: pointer;
      }

      a,
      button,
      span {
        color: #8da1b9;
        font-size: .8em;
        padding: .5em;
        margin: 0 1px;
        background: none;
        box-shadow: none;
        border-radius: 3px;
      }

      a:hover,
      a:focus,
      button:hover,
      button:focus,
      span:hover,
      span:focus {
        color: inherit;
        text-decoration: none;
      }

      span:hover,
      span:focus {
        background: none;
        cursor: default;
      }
    }
    .toolbar .toolbar-item {
      display: inline-block;
    }

  .code-toolbar:hover > .toolbar {
    opacity: 1;
  }

    .code-toolbar[focus-within] > .toolbar {
      opacity: 1;
    }

    .code-toolbar:focus-within > .toolbar {
      opacity: 1;
    }
  }
}
